#header, #navList{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
}

#header{
  width: 100%;
  padding: 0vh 1vw;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#navList{
  list-style: none;
  padding: 0;
}

#navList li{
  padding: 0vh 2vw;
}

/* styles above are for the header */
/* --------------------- */